.pad-left-10 {
    padding-left: 5px
}
.margin-left-10 {
    padding-left: 5px
}

.pad-10 {
    padding: 10px
}

.margin-y-0 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.margin-y-10 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.text-align-left {
    text-align: left
}

.text-align-right {
    text-align: right
}

.text-align-center {
    text-align: center
}

.home-container {
    background-image: url('https://storage.googleapis.com/staging.steam-220215.appspot.com/rsz_11rsz_background_menu3.png');
    overflow: 'hidden';
    background-size: auto 100%;
    background-blend-mode: screen;
}

.select-area {
    padding: 10px;
}

.select-area-header {
    background: #171d21;
    opacity: 0.8;
    color: aliceblue;
    padding: 10px;
}

.select-area-body {
    background: gray;
    opacity: 0.8;
    color: #171d21;
    height: 300px;
    padding: 10px;
    overflow: scroll;
}

.toolbar {
    width: 100%;
    padding-top: 10px;
}

.toolbar-filter {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#items-list {
    height: 500px;
}

.refresh-icon-wrapper {
    margin-top: 16px;
}